#about {
   display: none;
   position: relative;

   nav {
      position: relative;
      .nav-image {
         position: absolute;
         top: 50%;
         left: 3%;
         transform: translateY(-50%);
         max-width: clamp(3rem, 20vw, 15rem);
         z-index: 6;
         img {
            width: 100%;
            border-radius: 50%;
            box-shadow: 0 2px 8px #333;
         }
      }
      .nav-bar {
         width: 76%;
         height: 70px;
         margin: 50px auto;
         padding: 5px;
         background-color: rgb(255, 166, 0);
         border-radius: 20px;
         ul {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            li {
               position: relative;
               img {
                  position: relative;
                  width: 160px;
                  height: 53px;
                  z-index: 2;
               }
               &::before {
                  content: "";
                  position: absolute;
                  bottom: 4px;
                  left: 0;
                  width: 150px;
                  height: 20px;
                  border-radius: 50%;
                  opacity: 0.3;
                  z-index: 1;
                  background-color: rgba(0, 0, 255, 0.479);
               }
               &:hover::before {
                  background-color: blue;
               }
            }
         }
      }
   }

   .background {
      width: 76%;
      margin: auto;
      padding: 50px;
      background-color: #7164a9d5;
      border-radius: 20px;
      .box {
         display: flex;
         justify-content: space-between;
         align-items: center;
         gap: 50px;
         margin: auto;
         p {
            flex: 1 1 50%;
            font-size: clamp(0.9rem, 2vw, 1.6rem);
            line-height: 1.3;
            color: white;
         }
         .image {
            flex: 1 1 80%;
            img {
               box-shadow: 0 2px 7px #333;
               border-radius: 20px;
               max-width: 100%;
            }
         }
      }
      content {
         .town {
            text-align: center;
            margin: 60px 0;
            max-width: 100%;
            p {
               margin: 20px 0;
               line-height: 1.4;
            }
            img {
               max-width: 100%;
               border-radius: 20px;
               box-shadow: 0 0 5px #777;
            }
         }
         .container {
            max-width: 100%;
            margin: 60px 0 100px;
            h2 {
               text-align: center;
               margin: 30px 0;
            }
            .fig {
               display: flex;
               img {
                  flex: 0 1 70%;
                  max-width: 100%;
                  border-radius: 20px;
                  box-shadow: 0 0 5px #777;
               }
               .testi-box {
                  flex: 1 0 30%;
                  align-self: flex-end;
                  margin-left: -80px;
                  margin-bottom: -50px;
                  background-color: #ddd;
                  border-radius: 20px;
                  padding: 30px;
                  text-align: center;
                  width: 200px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  box-shadow: 0 1px 7px #333;
                  .stars {
                     width: 100px;
                     margin: -10px;
                     box-shadow: none;
                  }
                  .profile {
                     max-width: 100%;
                     border-radius: 50%;
                     width: 100px;
                     box-shadow: 0 1px 7px #333;
                  }
               }
            }
         }
      }
      .visit {
         text-align: center;
         max-width: 100%;
         img {
            max-width: 100%;
            border-radius: 20px;
         }
      }
   }
   .footer {
      text-align: center;
      width: 76%;
      margin: 40px auto;
      background-color: rgba(221, 221, 221, 0.582);
      padding: 20px;
      font-size: 0.6rem;
      border-radius: 20px;
   }
}
