@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700&display=swap");
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
ul,
li {
   list-style: none;
}
body {
   font-family: "Unbounded", cursive;
   .wall {
      height: 100vh;
      position: fixed;
      display: flex;
      top: 0;
      left: 0;
   }
}
